[submodule "charts/hetzner-dyndns"]
	path = charts/hetzner-dyndns
	url = https://github.com/itsmethemojo/helm-hetzner-dyndns.git
	branch = main
[submodule "charts/basic-web-app"]
	path = charts/basic-web-app
	url = https://github.com/itsmethemojo/helm-basic-web-app.git
        branch = main
[submodule "charts/oauth2-proxy-ingress"]
	path = charts/oauth2-proxy-ingress
	url = https://github.com/itsmethemojo/helm-oauth2-proxy-ingress.git
        branch = main
[submodule "charts/tekton-git-listener"]
	path = charts/tekton-git-listener
	url = https://github.com/itsmethemojo/tekton-git-listener.git
	branch = main
[submodule "charts/dynamic-ip-loadbalancer-controller"]
	path = charts/dynamic-ip-loadbalancer-controller
	url = git@github.com:itsmethemojo/dynamic-ip-loadbalancer-controller.git
